.main-header {
  width: $mobile-only-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #ffffff;
  padding: 12px 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.main-header__wrapper {
  margin-left: auto;
  margin-right: 60px;
}
