.main-header {
  width: $mobile-only-width;
  background-color: #b47dea;
  color: #ffffff;
  padding: 12px 20px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.site-list {
  @include list-reset;
}
