.social-list {
  @include list-reset;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.social-list__item {
  padding: 10px;
}

.social-list__link {
  fill: #bdbdbd;
}

.social-list__link:hover {
  fill: #a890eb;
}

.social-list__link:active {
  fill: #7859cf;
}

.social-list__link:disabled {
  opacity: 0.1;
}
